<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% csrf_token %}
{% if user.is_authenticated %}
  Hi {{ user.username }}! I just wanted to write something in here to see if it works
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

<body>
    <div class="flight_search" id='app'>
        <h1>Look up flights</h1>
        <label for="dep_airport">Departure Airport?</label>
            <input type="text" id="dep_airport" v-model="departureAirportCode">
        <label for="arr_airport">Arrival airport?</label>
            <input type = "text" id="arr_airport" v-model="arrivalAirportCode">
        <label for="start">Start date:</label>

        <label for="datetime-local">Departure date and time? </label>

        <input type="datetime-local" id="dep_time" v-model="datetime"
         name="flight_time" value="2021-06-12T00:00"
         min="2021-01-01T00:00" max="2035-06-14T23:59">
         <br><button @click="getFlights">Find Flights</button>

    </div>
  

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script>
    let app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            departureAirportCode: '',
            arrivalAirportCode:'',
            scheduledFlights:{},
            datetime:'',
            csrf_token: "",
            },
        methods: {
            getFlights: function(){
                        
                       axios({
                        url:'http://aviation-edge.com/v2/public/timetable?',
        
                        method: "get",
        
                        headers:{
                                 
                        //   "Authorization": `Token token="a51b4c035f2554ba87f3e30c52f9105e"`
                        },
                        params: {
                                key:'03dff0-0eaa8d',
                                // iataCode: `${this.departureAirportCode}`,
                                type:'arrival',
                                // status: 'scheduled',
                                // dep_iataCode:`${this.departureAirportCode}`,
                                iataCode:`${this.arrivalAirportCode}`,
                                // dep_schTime:`${this.datetime}:00.000`,
                                // dep_schTime:'2021-01-05T08:15:00.000',
                                // dep_schTime:'2021-01-05',
                        },
                            
                  }).then(response =>{
                      this.scheduledFlights = response.data.scheduledFlights
                      console.log(response)
                      console.log(dep_schTime)
                      }).catch(error => console.log(error))
                },
               
        // created(){ 
        //     this.pageLoadquotes()
        // }

        }
    });
</script>
{% endblock %}
